/* src/components/AuthenticationForm.css */
.authentication-form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-button {
    background-color: #007bff; /* Blue */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3; /* Darker Blue */
  }
  